* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
  background-color: #004d33;
  color: white;
}

/* ===== ВЕРХНЯЯ ПАНЕЛЬ ===== */
.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 16px;
}

.logo {
  color: #39ff14 !important;
  font-size: 26px;
  font-weight: bold;
}

/* ===== ПОИСК ===== */
#search {
  background-color: black;
  color: white;
  border: none;
  padding: 8px 10px;
  border-radius: 10px;
  width: 140px;
}

/* ===== ПЛЮСИК ===== */
.add-btn {
  position: fixed;
  right: 20px;
  bottom: 20px;

  width: 60px;
  height: 60px;
  border-radius: 50%;

  background-color: black;
  color: #004d33;

  font-size: 34px;
  border: none;
  cursor: pointer;
}

/* ===== ЗАМЕТКИ ===== */
.notes-grid {
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fill, 120px);
  gap: 16px;
}

.note-preview {
  background-color: black;
  color: white;

  border-radius: 16px;
  padding: 12px;

  text-align: center;
  cursor: pointer;
  position: relative;
}

.note-preview span {
  position: absolute;
  top: 6px;
  right: 8px;
  font-size: 11px;
  opacity: 0.6;
}

/* ===== МОДАЛКИ ===== */
.modal {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.85);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
}

.hidden {
  display: none;
}

.modal-box {
  background-color: black;
  border-radius: 18px;
  padding: 20px;
  width: 300px;
  position: relative;
}

.modal-box.full {
  width: 90%;
  height: 80%;
  display: flex;
  flex-direction: column;
}

.modal-box h2 {
  margin-top: 0;
}

/* ===== ТЕКСТ ЗАМЕТКИ ===== */
.note-body {
  flex: 1;
}

.note-body textarea {
  width: 100%;
  height: 100%;
  background-color: black;
  color: white;
  border: none;
  resize: none;
  font-size: 16px;
}

/* ===== КНОПКИ ===== */
.note-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 12px;
}

.note-actions button {
  background-color: black;
  color: white;
  border: 1px solid white;
  border-radius: 10px;
  padding: 6px 10px;
  cursor: pointer;
}

.close {
  position: absolute;
  top: 10px;
  right: 12px;
  background: none;
  color: white;
  border: none;
  font-size: 18px;
  cursor: pointer;
}