body {
  margin: 0;
  font-family: sans-serif;
  background: #004d33;
  color: white;
}

.top-bar {
  display: flex;
  justify-content: space-between;
  padding: 15px;
}

.logo {
  font-size: 24px;
  color: #39ff14;
}

#search {
  background: black;
  color: white;
  border-radius: 8px;
  padding: 6px;
}

.add-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 28px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: black;
  color: #004d33;
  border: none;
}

.notes-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 120px);
  gap: 15px;
  padding: 20px;
}

.note-preview {
  background: black;
  border-radius: 15px;
  padding: 10px;
  text-align: center;
  cursor: pointer;
  position: relative;
}

.note-preview span {
  font-size: 12px;
  opacity: 0.6;
  position: absolute;
  top: 5px;
  right: 8px;
}

/* МОДАЛКИ */
.modal {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.8);
  display: flex;
  align-items: center;
  justify-content: center;
}

.hidden {
  display: none;
}

.modal-box {
  background: black;
  padding: 20px;
  border-radius: 16px;
  width: 300px;
  position: relative;
}

.modal-box.full {
  width: 90%;
  height: 80%;
  display: flex;
  flex-direction: column;
}

.note-body {
  flex: 1;
}

.note-body textarea {
  width: 100%;
  height: 100%;
  background: black;
  color: white;
  border: none;
  resize: none;
}

.note-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
}