* { box-sizing: border-box; }

body {
  margin: 0;
  background: #3c3a46;
  font-family: system-ui, sans-serif;
  color: white;
}

/* ШАПКА */
.top-bar {
  background: black;
  padding: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 34px;
  font-weight: 800;
  color: #39ff14;
}

#search {
  background: #222;
  color: white;
  border: 1px solid #555;
  border-radius: 20px;
  padding: 10px 16px;
  font-size: 16px;
}

/* ОСНОВА */
.main {
  max-width: 520px;
  margin: auto;
  padding: 20px;
}

.notes-grid {
  display: grid;
  gap: 16px;
}

/* ПРЕВЬЮ */
.note-preview {
  background: #1a1a1a;
  border-radius: 20px;
  padding: 22px;
  font-size: 20px;
  text-align: center;
  cursor: pointer;
}

/* ПЛЮС */
.add-btn {
  position: fixed;
  bottom: 24px;
  right: 24px;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background: black;
  color: #004d33;
  font-size: 40px;
  border: none;
}

/* МОДАЛКИ */
.modal {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,.85);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  overflow-y: auto;
  padding: 20px 0;
}

.hidden { display: none; }

.card {
  background: #0d0d0d;
  border-radius: 26px;
  padding: 20px;
  width: 90%;
  max-width: 420px;
  display: flex;
  flex-direction: column;
  gap: 14px;
}

/* ПОЛЯ */
.card input,
.card textarea {
  background: #222;
  border: 1px solid #555;
  border-radius: 18px;
  padding: 14px;
  color: white;
  font-size: 16px;
}

.card textarea {
  min-height: 30vh;
  resize: none;
}

/* ТЕКСТ ЗАМЕТКИ */
.view-text {
  font-size: 22px;
  line-height: 1.5;
  white-space: pre-wrap;
  padding: 12px 4px;
}

/* ТЕМА */
.small-title {
  font-size: 14px;
  opacity: 0.7;
}

/* МЕДИА */
#mediaPreview img,
#mediaPreview video,
#viewMedia img,
#viewMedia video {
  width: 100%;
  border-radius: 18px;
  margin-top: 10px;
}

/* КНОПКИ */
.actions {
  display: flex;
  justify-content: space-between;
  gap: 8px;
}

.btn {
  background: #333;
  color: white;
  border-radius: 14px;
  padding: 8px 14px;
  border: none;
}

.delete-btn {
  background: #333;
  color: #ff4d4d;
  border-radius: 14px;
  padding: 8px 14px;
  border: none;
}