body {
  margin: 0;
  font-family: sans-serif;
  background: #004d33;
  color: white;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 15px;
}

#addBtn {
  font-size: 24px;
}

.hidden {
  display: none;
}

/* МОДАЛКА */
.modal {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.7);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  background: black;
  padding: 20px;
  width: 300px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}